<h1>Список магазинов</h1>

<div class="row">
  <mat-form-field>
    <mat-label>Фильтр</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Поиск..." #input>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Адрес </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row (click)="rowClicked(element)" *matRowDef="let element; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="2">Нет данных для фильтрации "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of users"></mat-paginator>

