<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row" *ngIf="authorized">
        <app-login-block></app-login-block>
      </div>
      <div class="row" *ngIf="viewMenu">
        <app-menu-block></app-menu-block>
      </div>
    </div>
    <div class="col-9">
      <h1>Сервис для управлениями задачами магазина</h1>
      <h2>Администратор по умолчанию:</h2>
      <h3><span><b>Логин:</b> </span> admin</h3>
      <h3><span><b>Пароль:</b> </span> admin</h3>
    </div>
  </div>
</div>
