<div class="container-fluid">
  <div class="row">
    <a class="m-1" mat-raised-button routerLink="/user/info">Сведения о пользователе</a>
  </div>
  <div class="row">
    <a class="m-1" mat-raised-button routerLink="/user/change-password">Смена пароля</a>
  </div>
  <div class="row">
    <a class="m-1" mat-raised-button routerLink="/admin/users" color="warn">Сведения о пользователях</a>
  </div>
  <div class="row">
    <a class="m-1" mat-raised-button routerLink="/shop/view" color="accent">Магазины</a>
  </div>
  <div class="row">
    <a class="m-1" mat-raised-button routerLink="/task/view" color="accent">Задачи</a>
  </div>
  <div class="row">
    <button class="m-1" type="button" (click)="logout()" mat-raised-button>Выход</button>
  </div>
</div>
