<div class="container">
  <form [formGroup]="formGroup"
  (input)="onFormChange()"
  (ngSubmit)="onSubmit()"
  class="form">
  <h2>Смена пароля</h2>
  <div class="row m-1">
    <mat-form-field>
      <mat-label>Новый пароль:</mat-label>
      <input type="password" matInput formControlName="newPassword" />
      <mat-error *ngIf="formGroup.hasError('required', 'newPassword')">Пароль не может быть пустым</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-error ngClass="{{ errorColor }}" *ngIf="formError">{{ formError }}</mat-error>
  </div>

    <div class="text-center">
      <button type="submit" mat-raised-button color="warn">Изменить пароль</button>
    </div>
  </form>
</div>
